<div class="modal fade" id="{{ deleteModalId }}" tabindex="-1" role="dialog" aria-labelledby="{{ deleteModalTitleId }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ deleteModalTitleId }}">{{ deleteModalTitle }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąć {{ deletedItem }} "<strong id="player-name"></strong>"?</p>
                <p>Usunięcie jest nieodwracalne.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal-cancel" data-dismiss="modal">Anuluj</button>
                <a class="btn btn-danger btn-ok" id="{{ deleteButtonId }}">Usuń</a>
            </div>
        </div>
    </div>
</div>
