{{ form_start(form) }}
<div class="row">
    <div class="form-group col-sm-6">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile) }}
        {{ form_errors(form.imageFile) }}
    </div>
</div>
<a class="btn btn-sm btn-outline-secondary" href="{{ path('app.admin.media.list') }}">
    <i class="material-icons">save</i> Wróć
</a>
<button class="btn btn-sm btn-info" type="submit">
    <i class="material-icons">file_copy</i> Zapisz
</button>
{{ form_rest(form) }}
