{{ form_start(form) }}
<div class="row">
    <div class="form-group col-sm-6">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group col-sm-7">
        {{ form_label(form.teams) }}
        {{ form_widget(form.teams) }}
        {{ form_errors(form.teams) }}
    </div>
    {% if not form.teams.vars.choices|length %}
        <div class="col-sm-12 mb-3">
            <div class="alert alert-warning" role="alert">
                Wszystkie drużyny są przypisane do lig. Proszę dodać nową drużynę, a następnie wybrać ją w oknie powyżej.
            </div>
            <a class="btn btn-sm btn-outline-accent" href="{{ path('app.team.list')}}">
                <i class="material-icons">save</i> Dodaj drużynę
            </a>
        </div>
    {% endif %}
</div>
<a class="btn btn-sm btn-outline-secondary" href="{{ path('app.admin.league.dashboard') }}">
    <i class="material-icons">save</i> Wróć
</a>
<button class="btn btn-sm btn-info" type="submit">
    <i class="material-icons">file_copy</i> Zapisz
</button>
{{ form_rest(form) }}
{% block javascripts %}
    {{ encore_entry_script_tags('league') }}
{% endblock %}
