<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {#<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">#}
        {#<link rel="icon" type="image/png" href="../assets/img/favicon.ico">#}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        {#<title>Light Bootstrap Dashboard - Free Bootstrap 4 Admin Dashboard by Creative Tim</title>#}
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />#}
        <!-- CSS Files -->
        {#<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />#}
        {#<link href="../assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />#}
        <!-- CSS Just for demo purpose, don't include it in your project -->
        {#<link href="../assets/css/demo.css" rel="stylesheet" />#}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('admin') }}#}
            {{ encore_entry_link_tags('app') }}
            {#{{ encore_entry_link_tags('semantic_styles') }}#}
            {#<link rel="shortcut icon" href="img/icons/favicon.ico">#}
            {#<link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">#}
            {#<link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">#}
            {#<link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">#}
        {% endblock %}
    </head>
    <body>
        {#{% include 'admin/menu/desktop_menu.html.twig' %}#}
        {#{% include 'admin/menu/mobile_menu.html.twig' %}#}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('admin') }}#}
            {{ encore_entry_script_tags('app') }}
            {#{{ encore_entry_script_tags('semantic_javascripts') }}#}
            {{ encore_entry_script_tags('admin_menu') }}
        {% endblock %}
    </body>
</html>
