<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('core') }}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        {% include 'admin/header.html.twig' %}
        <div id="main">
            <div class="wrapper">
                {% include 'admin/menu/left_menu.html.twig' %}
                {% block body %}{% endblock %}
                {% include 'admin/menu/right_menu.html.twig' %}
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('core') }}
            {{ encore_entry_link_tags('admin') }}
            {{ encore_entry_script_tags('admin_menu') }}
        {% endblock %}
    </body>
</html>
