{{ form_start(form) }}
<div class="row">
    <div class="form-group col-sm-12">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group col-sm-12">
        {{ form_label(form.text) }}
        {{ form_widget(form.text) }}
        {{ form_errors(form.text) }}
    </div>
    <div class="form-group col-sm-2 news-photo">
        {{ form_label(form.photoFile) }}
        {{ form_widget(form.photoFile) }}
    </div>
    <div class="form-group col-sm-12">
        {{ form_label(form.video) }}
        {{ form_widget(form.video) }}
    </div>
    <div class="form-group col-sm-12">
        <div class="custom-control custom-checkbox">
            {{ form_widget(form.published, {'attr': {'class': 'custom-control-input'}}) }}
            {{ form_label(form.published, null,{'label_attr': {'class': 'custom-control-label'}}) }}
        </div>
    </div>
</div>
<a class="btn btn-sm btn-outline-secondary" href="{{ path('app.admin.news.list') }}">
    <i class="material-icons">save</i> Wróć
</a>
<button class="btn btn-sm btn-info" type="submit">
    <i class="material-icons">file_copy</i> Zapisz
</button>
{{ form_rest(form) }}
