                            {#{{ form_start(form, {'attr': { 'class': 'col s12'}}) }}#}
                            {#<form class="col s12">#}
                                {#<h4 class="header2">Dodaj mecz</h4>#}
                                {#{{ form_errors(form) }}#}
                                {#<div class="row">#}
                                    {#<div class="input-field col s12 m3 l3">#}
                                        {#<i class="material-icons prefix">account_circle</i>#}
                                        {#{{ form_widget(form.homeTeam) }}#}
                                        {#<input id="icon_prefix" type="text" class="validate">#}
                                        {#<label for="icon_prefix">Drużyna domowa</label>#}
                                    {#</div>#}
                                    {#<div class="input-field col s12 m3 l3">#}
                                        {#<i class="material-icons prefix">lock_outline</i>#}
                                        {#{{ form_widget(form.awayTeam) }}#}
                                        {#<input id="icon_password" type="password" class="validate">#}
                                        {#<label for="icon_password">Drużyna przyjezdna</label>#}
                                    {#</div>#}
                                    {#<div class="input-field col s12 m2 l2">#}
                                        {#<i class="material-icons prefix">insert_invitation</i>#}
                                        {#{{ form_widget(form.startDate) }}#}
                                    {#</div>#}
                                    {#<div class="input-field col s12 m2 l2">#}
                                        {#<i class="material-icons prefix">insert_invitation</i>#}
                                        {#{{ form_widget(form.startTime) }}#}
                                    {#</div>#}
                                    {#<div class="input-field col s12 m2 l2 ">#}
                                        {#<button class="btn waves-effect waves-light" type="submit" name="action">#}
                                            {#<span class="">Dodaj mecz</span>#}
                                            {#<i class="material-icons right">add_box</i>#}
                                        {#</button>#}
                                    {#</div>#}
                                {#</div>#}
                            {#{{ form_end(form) }}#}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h3 class="m-0"><strong>Dodaj mecz</strong></h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <div class="row">
                        <div class="col">
                            {{ form_start(form) }}
                                <div class="form-row">
                                    <div class="form-group col-sm-12 col-md-4">
                                        {#<label for="feFirstName">First Name</label>#}
                                        {{ form_widget(form.homeTeam) }}
                                    </div>
                                    <div class="form-group col-sm-12 col-md-4">
                                        {#<label for="feLastName">Last Name</label>#}
                                        {{ form_widget(form.awayTeam) }}
                                    </div>
                                    <div class="form-group col-sm-12 col-md-2">
                                        {#<label for="feLastName">Last Name</label>#}
                                        {{ form_widget(form.startDate) }}
                                    </div>
                                    <div class="form-group col-sm-12 col-md-2">
                                        <button type="submit" class="btn btn-accent dupa">Update Account</button>
                                    </div>
                                </div>
                                {#<div class="form-row">#}
                                    {#<div class="form-group col-md-6">#}
                                        {#<label for="feEmailAddress">Email</label>#}
                                        {#<input type="email" class="form-control" id="feEmailAddress" placeholder="Email" value="sierra@example.com"> </div>#}
                                    {#<div class="form-group col-md-6">#}
                                        {#<label for="fePassword">Password</label>#}
                                        {#<input type="password" class="form-control" id="fePassword" placeholder="Password"> </div>#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<label for="feInputAddress">Address</label>#}
                                    {#<input type="text" class="form-control" id="feInputAddress" placeholder="1234 Main St"> </div>#}
                                {#<div class="form-row">#}
                                    {#<div class="form-group col-md-6">#}
                                        {#<label for="feInputCity">City</label>#}
                                        {#<input type="text" class="form-control" id="feInputCity"> </div>#}
                                    {#<div class="form-group col-md-4">#}
                                        {#<label for="feInputState">State</label>#}
                                        {#<select id="feInputState" class="form-control">#}
                                            {#<option selected>Choose...</option>#}
                                            {#<option>...</option>#}
                                        {#</select>#}
                                    {#</div>#}
                                    {#<div class="form-group col-md-2">#}
                                        {#<label for="inputZip">Zip</label>#}
                                        {#<input type="text" class="form-control" id="inputZip"> </div>#}
                                {#</div>#}
                                {#<div class="form-row">#}
                                    {#<div class="form-group col-md-12">#}
                                        {#<label for="feDescription">Description</label>#}
                                        {#<textarea class="form-control" name="feDescription" rows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque, quidem, commodi soluta qui quae minima obcaecati quod dolorum sint alias, possimus illum assumenda eligendi cumque?</textarea>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<button type="submit" class="btn btn-accent">Update Account</button>#}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-small mb-4 pt-3">
            <div class="card-header border-bottom text-center">
                <div class="mb-3 mx-auto">
                    <img class="rounded-circle" src="images/avatars/0.jpg" alt="User Avatar" width="110"> </div>
                <h4 class="mb-0">Sierra Brooks</h4>
                <span class="text-muted d-block mb-2">Project Manager</span>
                <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2">
                    <i class="material-icons mr-1">person_add</i>Follow</button>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-4">
                    <div class="progress-wrapper">
                        <strong class="text-muted d-block mb-2">Workload</strong>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100" style="width: 74%;">
                                <span class="progress-value">74%</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item p-4">
                    <strong class="text-muted d-block mb-2">Description</strong>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque, quidem, commodi soluta qui quae minima obcaecati quod dolorum sint alias, possimus illum assumenda eligendi cumque?</span>
                </li>
            </ul>
        </div>
    </div>
</div>
