<section id="content">
    <!--start container-->
    <div class="container">
        <!--card stats start-->
        <!--card widgets start-->
        <div id="card-widgets">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card-panel">
                        <div class="row">
                            <form class="col s12">
                                <h4 class="header2">Dodaj mecz</h4>
                                <div class="row">
                                    <div class="input-field col s12 m3 l3">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">Drużyna domowa</label>
                                    </div>
                                    <div class="input-field col s12 m3 l3">
                                        <i class="material-icons prefix">lock_outline</i>
                                        <input id="icon_password" type="password" class="validate">
                                        <label for="icon_password">Drużyna przyjezdna</label>
                                    </div>
                                    <div class="input-field col s12 m2 l2">
                                        <i class="material-icons prefix">insert_invitation</i>
                                        <input type="text" id="date" class="datepicker">
                                        <label for="date">Data rozegrania meczu</label>
                                    </div>
                                    <div class="input-field col s12 m2 l2 ">
                                        <button class="btn waves-effect waves-light" type="submit" name="action">
                                            <span class="">Dodaj mecz</span>
                                            <i class="material-icons right">add_box</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {#<div class="col s12 m4 l4">#}
                    {#<div id="profile-card" class="card">#}
                        {#<div class="card-image waves-effect waves-block waves-light">#}
                            {#<img class="activator" src="images/gallary/3.png" alt="user bg">#}
                        {#</div>#}
                        {#<div class="card-content">#}
                            {#<img src="images/avatar/avatar-7.png" alt="" class="circle responsive-img activator card-profile-image cyan lighten-1 padding-2">#}
                            {#<a class="btn-floating activator btn-move-down waves-effect waves-light red accent-2 z-depth-4 right">#}
                                {#<i class="material-icons">edit</i>#}
                            {#</a>#}
                            {#<span class="card-title activator grey-text text-darken-4">Roger Waters</span>#}
                            {#<p>#}
                                {#<i class="material-icons">perm_identity</i> Project Manager</p>#}
                            {#<p>#}
                                {#<i class="material-icons">perm_phone_msg</i> +1 (612) 222 8989</p>#}
                            {#<p>#}
                                {#<i class="material-icons">email</i> yourmail@domain.com</p>#}
                        {#</div>#}
                        {#<div class="card-reveal">#}
                      {#<span class="card-title grey-text text-darken-4">Roger Waters#}
                        {#<i class="material-icons right">close</i>#}
                      {#</span>#}
                            {#<p>Here is some more information about this card.</p>#}
                            {#<p>#}
                                {#<i class="material-icons">perm_identity</i> Project Manager</p>#}
                            {#<p>#}
                                {#<i class="material-icons">perm_phone_msg</i> +1 (612) 222 8989</p>#}
                            {#<p>#}
                                {#<i class="material-icons">email</i> yourmail@domain.com</p>#}
                            {#<p>#}
                                {#<i class="material-icons">cake</i> 18th June 1990#}
                            {#</p>#}
                            {#<p>#}
                            {#</p>#}
                            {#<p>#}
                                {#<i class="material-icons">airplanemode_active</i> BAR - AUS#}
                            {#</p>#}
                            {#<p>#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                <div class="col s12 m4 l4">
                    <ul id="task-card" class="collection with-header">
                        <li class="collection-header teal accent-4">
                            <h4 class="task-card-title">Mecze nadchodzące</h4>
                            <p class="task-card-date">Sept 16, 2017</p>
                        </li>
                        <li class="collection-item dismissable">
                            <input type="checkbox" id="task1" />
                            <label for="task1">Create Mobile App UI.
                                <a href="#" class="secondary-content">
                                    <span class="ultra-small">Today</span>
                                </a>
                            </label>
                            <span class="task-cat cyan">Mobile App</span>
                        </li>
                        <li class="collection-item dismissable">
                            <input type="checkbox" id="task2" />
                            <label for="task2">Check the new API standerds.
                                <a href="#" class="secondary-content">
                                    <span class="ultra-small">Monday</span>
                                </a>
                            </label>
                            <span class="task-cat red accent-2">Web API</span>
                        </li>
                        <li class="collection-item dismissable">
                            <input type="checkbox" id="task3" checked="checked" />
                            <label for="task3">Check the new Mockup of ABC.
                                <a href="#" class="secondary-content">
                                    <span class="ultra-small">Wednesday</span>
                                </a>
                            </label>
                            <span class="task-cat teal accent-4">Mockup</span>
                        </li>
                        <li class="collection-item dismissable">
                            <input type="checkbox" id="task4" checked="checked" disabled="disabled" />
                            <label for="task4">I did it !</label>
                            <span class="task-cat deep-orange accent-2">Mobile App</span>
                        </li>
                        <li class="collection-item dismissable">
                            <input type="checkbox" id="task2" />
                            <label for="task2">Check the new API standerds.
                                <a href="#" class="secondary-content">
                                    <span class="ultra-small">Monday</span>
                                </a>
                            </label>
                            <span class="task-cat red accent-2">Web API</span>
                        </li>
                        <li class="collection-item dismissable">
                            <input type="checkbox" id="task3" checked="checked" />
                            <label for="task3">Check the new Mockup of ABC.
                                <a href="#" class="secondary-content">
                                    <span class="ultra-small">Wednesday</span>
                                </a>
                            </label>
                            <span class="task-cat teal accent-4">Mockup</span>
                        </li>
                        <li class="collection-item dismissable">
                            <input type="checkbox" id="task4" checked="checked" disabled="disabled" />
                            <label for="task4">I did it !</label>
                            <span class="task-cat deep-orange accent-2">Mobile App</span>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul id="projects-collection" class="collection with-header">
                        <li class="collection-header teal accent-4 white-text">
                            <h4 class="task-card-title">Mecze rozegrane</h4>
                            <p class="task-card-date">Sept 16, 2017</p>
                        </li>
                        {% for match in matches %}
                            <li class="collection-item">
                                <div class="row">
                                    <div class="col s1 m2 l2">
                                        <span class="collections-content left-align">{{ loop.index }}</span>
                                    </div>
                                    <div class="col s3 right-align">
                                        <span class="collections-content ">{{ match.homeTeam.name }}</span>
                                    </div>
                                    <div class="col s2 m1 l1">
                                        <span class="collections-content center-align">
                                            {{ match.matchDetails.homeTeamGoals }} - {{ match.matchDetails.awayTeamGoals }}
                                        </span>
                                    </div>
                                    <div class="col s3 left-align">
                                        <span class="collections-content">{{ match.awayTeam.name }}</span>
                                    </div>
                                    <div class="col s2 m3 l3">
                                        <span class="collections-content center-align">{{ match.startDate|date('Y-m-d H:i') }}</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        {#<li class="collection-item">#}
                            {#<div class="row">#}
                                {#<div class="col s4">#}
                                    {#<p class="collections-content">{{  }}</p>#}
                                    {#<p class="collections-content">AEC Company</p>#}
                                {#</div>#}
                                {#<div class="col s4">#}
                                    {#<p class="collections-content">Web App</p>#}
                                    {#<p class="collections-content">AEC Company</p>#}
                                {#</div>#}
                                {#<div class="col s4">#}
                                    {#<p class="collections-content">AEC Company</p>#}
                                    {#<span class="task-cat cyan">Development</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</li>#}
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s9">
                                    <p class="collections-title">Mobile App for Social</p>
                                    <p class="collections-content">iSocial App</p>
                                </div>
                                <div class="col s3">
                                    <span class="task-cat red accent-2">UI/UX</span>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s9">
                                    <p class="collections-title">Website</p>
                                    <p class="collections-content">MediTab</p>
                                </div>
                                <div class="col s3">
                                    <span class="task-cat teal accent-4">Marketing</span>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s9">
                                    <p class="collections-title">AdWord campaign</p>
                                    <p class="collections-content">True Line</p>
                                </div>
                                <div class="col s3">
                                    <span class="task-cat deep-orange accent-2">SEO</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--card widgets end-->
    </div>
</section>
