{% macro goalScorer(goalForm) %}
    {{ form_errors(goalForm) }}
    {{ form_widget(goalForm, {'attr': {'class': 'row'}}) }}
    <a href="#" class="btn btn-sm btn-danger delete-scorer pull-right"><i class="fas fa-trash-alt"></i></a>
    <br>
    <br>
{% endmacro %}
{% macro cardTaker(cardForm) %}
    {{ form_errors(cardForm) }}
    {{ form_widget(cardForm, {'attr': {'class': 'row'}}) }}
    <a href="#" class="btn btn-sm btn-danger delete-card pull-right"><i class="fas fa-trash-alt"></i></a>
    <br>
    <br>
{% endmacro %}
{% import _self as formMacros %}
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <h3 class="page-title">Uzupełnij szczegóły meczu</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="card card-small mb-3">
            <div class="card-body">
                <div class="row">
                    {{ form_start(form, {
                        'attr': {
                            'class': 'form-inline'
                        },
                    }) }}
                    <div class="col-sm-12">
                        <h4>Wynik</h4>
                        <hr>
                    </div>
                    <div class="col text-right">
                        <span class="collections-content ">{{ match.homeTeam.name }}</span>
                    </div>
                    <div class="col text-center">
                        {{ form_widget(form.matchDetails.homeTeamGoals) }}  :  {{ form_widget(form.matchDetails.awayTeamGoals) }}
                    </div>
                    <div class="col text-left">
                        <span class="collections-content">{{ match.awayTeam.name }}</span>
                    </div>
                    <div class="col text-center">
                        <span class="">{{ match.startDate|date('Y-m-d H:i') }}</span>
                    </div>
                    <div class="col-sm-12 text-center">
                        Karne
                    </div>
                    <div class="col-sm-12 text-center">
                        {{ form_widget(form.matchDetails.homeTeamPenalties) }}  :  {{ form_widget(form.matchDetails.awayTeamPenalties) }}
                    </div>
                    <div class="col-sm-12 text-danger">
                        {{ form_errors(form.matchDetails.homeTeamGoals) }}
                    </div>
                    <div class="col-sm-12 text-danger">
                        {{ form_errors(form.matchDetails.awayTeamGoals) }}
                    </div>
                    <div class="col-sm-12 text-danger">
                        {{ form_errors(form.matchDetails.cards) }}
                    </div>
                    <div class="col-sm-12 text-danger">
                        {{ form_errors(form.matchDetails.goals) }}
                    </div>
                    <hr>
                    <div class="col-sm-12 mt-5">
                        <h4>{{ form_label(form.matchDetails.description) }}</h4>
                    </div>
                    <div class="col-sm-12 mb-5 mt-1">
                        {{ form_widget(form.matchDetails.description) }}
                    </div>
                    <hr>
                    <div class="col-sm-12">
                        <h4>Bramki</h4>
                        <hr>
                    </div>
                    <div class="scorers col-sm-12"
                         data-prototype="{{ formMacros.goalScorer(form.matchDetails.goals.vars.prototype)|e('html_attr') }}"
                         data-add-scorer-link="{{ '<br /><button type="button" class="btn btn-outline-info add-scorer">' ~ 'Dodaj strzelca' ~ '</button><br /><br/><br />' }}"
                    >
                        {% for goal in form.matchDetails.goals %}
                            <div class="col">
                                {{ formMacros.goalScorer(goal) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="match-cards col-sm-12"
                         data-add-card-link="{{ '<br /><button type="button" class="btn btn-outline-info add-card">' ~ 'Dodaj kartkę' ~ '</button><br /><br/><br />' }}"
                         data-prototype="{{ formMacros.cardTaker(form.matchDetails.cards.vars.prototype)|e }}"
                    >
                        {% for card in form.matchDetails.cards %}
                            <div class="col">
                                {{ formMacros.cardTaker(card) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <a href="{{ path('app.match.dashboard') }}" class="btn btn-outline-secondary">Wróć na listę</a>
                        <button type="submit" class="btn btn-outline-success">Zapisz</button>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-12">
        <div class='card card-small mb-3'>
            <div class="card-header border-bottom">
                <h6 class="m-0">Actions</h6>
            </div>
            <div class='card-body p-0'>

            </div>
        </div>
        <div class='card card-small mb-3'>
            <div class="card-header border-bottom">
                <h6 class="m-0">Categories</h6>
            </div>
            <div class='card-body p-0'>
                <form>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-3 pb-2">
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="category1" checked>
                                <label class="custom-control-label" for="category1">Uncategorized</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="category2" checked>
                                <label class="custom-control-label" for="category2">Design</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="category3">
                                <label class="custom-control-label" for="category3">Development</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="category4">
                                <label class="custom-control-label" for="category4">Writing</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="category5">
                                <label class="custom-control-label" for="category5">Books</label>
                            </div>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="New category" aria-label="Add new category" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-white px-2" type="button">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>

            </div>
        </div>
    </div>
</div>

