<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Częstochowska Liga 6{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {#{{ encore_entry_link_tags('custom_backend') }}#}
            <link rel="shortcut icon" href="img/icons/favicon.ico">
            <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
            <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">
        {% endblock %}
    </head>
    <body>
        <div id="layout">
            {% include 'header.html.twig' %}
            {% include 'menu/navbar.html.twig' %}
            {% include 'menu/mobile_menu.html.twig' %}
                {% block body %}{% endblock %}
            {% include 'footer.html.twig' %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('login') }}
            {{ encore_entry_script_tags('main') }}
            {{ encore_entry_script_tags('scripts') }}
{#            {{ encore_entry_script_tags('semantic_javascripts') }}#}
        {% endblock %}

    </body>
</html>
