{% extends 'base.html.twig' %}
{% block body %}
<section class="content-info">
    <div class="container paddings-mini">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="clear-title">Mecze</h3>
            </div>
            {% for matchday in matchdays %}
            <div class="col-sm-12 d-flex justify-content-center">
                <h4>{{ matchday.name }}</h4>
            </div>
            <div class="col-lg-12">
                <table class="table-striped table-hover mb-5">
                    <tbody>
                        {% for fixture in matchday.matches %}
                            <tr>
                                <td class="text-center">
                                    <img src="{{ fixture.homeTeam.crest.name ? asset('images/team/crest/' ~ fixture.homeTeam.crest.name) : asset('build/img/clubs-logos/pol.png') }}" alt="icon">
                                    <strong>{{ fixture.homeTeam.name }}</strong><br>
{#                                    <small class="meta-text">Ekstraklasa</small>#}
                                </td>
                                <td class="text-center">:</td>
                                <td class="text-center">
                                    <img src="{{ fixture.awayTeam.crest.name ? asset('images/team/crest/' ~ fixture.awayTeam.crest.name) : asset('build/img/clubs-logos/pol.png') }}" alt="icon1">
                                    <strong>{{ fixture.awayTeam.name }}</strong><br>
{#                                    <small class="meta-text">GRUPA 1</small>#}
                                </td>
                                <td class="text-center">
                                    {{ fixture.startDate|date('d-m-Y H:i') }}<br>
                                    <small class="meta-text">{{ fixture.arena ?? 'Brak miejsca rozgrywania' }}</small>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    Brak meczów w terminarzu
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
