{% extends 'base.html.twig' %}
{% block body %}
    <div class="hero-header">
        <div id="hero-slider" class="hero-slider">
            {% for news in newsForSlider %}
                <div class="item-slider" style="background:url({{ asset('build/img/slide/' ~ random(1,3) ~ '.jpg')}});">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="info-slider">
                                    <h1>{{ news.title }}</h1>
                                    <a href="{{ path('app.admin.news.view', {'news': news.id}) }}" class="btn-iw outline">Czytaj więcej <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <section class="content-info mb-5">
        <div class="dark-home">
           <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-md-12">
                        <ul class="nav nav-tabs" id="myTab">
                           <li><a href="#statistics" data-toggle="tab" class="active">Statystyki</a></li>
{#                           <li><a href="#groups" data-toggle="tab">GROUPS</a></li>#}
{#                           <li><a href="#description" data-toggle="tab">DESCRIPTION</a></li>#}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="statistics">
                                <div class="row">
                                   <div class="col-lg-4">
                                       <div class="club-ranking">
                                            <h5><a href="{{ path('app.table') }}">Tabela</a></h5>
                                            <div class="info-ranking">
                                                <ul>
                                                    {% for team in teams %}
                                                        <li>
                                                            <span class="position">
                                                                {{ loop.index }}
                                                            </span>
                                                            <a href="{{ path('app.team.view', {'team': team.id}) }}">
                                                                <img src="{{ asset('build/img/clubs-logos/pol.png') }}" alt="">
                                                                {{ team.name }}
                                                            </a>
                                                            <span class="points">
                                                                {{ team.points }} pkt
                                                            </span>
                                                        </li>
                                                    {% endfor %}

                                                </ul>
                                            </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-4">
                                       <div class="recent-results">
                                            <h5><a href="{{ path('app.results') }}">Ostatnie wyniki</a></h5>
                                            <div class="info-results">
                                                <ul>
                                                    {% for result in results %}
                                                        <li>
                                                            <span class="head">
                                                                <small>{{ result.homeTeam.name }} vs. {{ result.awayTeam.name }}  <span class="date">{{ result.startDate|date('d/m/Y H:i') }}</span></small>
                                                            </span>

                                                            <div class="goals-result">
                                                                <a href="{{ path('app.team.view', {'team': result.homeTeam.id}) }}">
                                                                    <img src="img/clubs-logos/por.png" alt="">
                                                                    {{ result.homeTeam.name }}
                                                                </a>

                                                                <span class="goals">
                                                                    <a href="{{ path('app.single_result', {'match': result.id}) }}">
                                                                        <b>{{ result.matchDetails.homeTeamGoals }}</b> - <b>{{ result.matchDetails.awayTeamGoals }}</b>
                                                                    </a>
                                                                </span>

                                                                <a href="{{ path('app.team.view', {'team': result.awayTeam.id}) }}">
                                                                    <img src="img/clubs-logos/esp.png" alt="">
                                                                    {{ result.awayTeam.name }}
                                                                </a>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-4">
                                       <div class="player-ranking">
                                            <h5><a href="#">Najlepsi strzelcy</a></h5>
                                            <div class="info-player">
                                                <ul>
                                                    {% for scorer in bestScorers %}
                                                        <li>
                                                            <span class="position">
                                                              {{ loop.index }}
                                                            </span>
                                                            <a href="#">
                                                                <img src="img/players/1.jpg" alt="">
                                                                {{ scorer.name }}
                                                            </a>
                                                            <span class="points">
                                                                {{ scorer.goals }}
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
{#                            <div class="tab-pane" id="groups">#}
{#                                <div class="groups-list">#}
{#                                    <div class="row">#}
{#                                        <div class="col-lg-3 col-md-6">#}
{#                                           <h5><a href="groups.html">GROUP A</a></h5>#}
{#                                            <div class="item-group">#}
{#                                                <ul>#}
{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/rusia.png" alt="">#}
{#                                                            Russia#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/arabia.png" alt="">#}
{#                                                            Saudi Arabia#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/egy.png" alt="">#}
{#                                                            Egypt#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/uru.png" alt="">#}
{#                                                            Uruguay#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}

{#                                        <div class="col-lg-3 col-md-6">#}
{#                                           <h5><a href="groups.html">GROUP B</a></h5>#}
{#                                            <div class="item-group">#}
{#                                                <ul>#}
{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/por.png" alt="">#}
{#                                                            Portugal#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/esp.png" alt="">#}
{#                                                            Spain#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/mar.png" alt="">#}
{#                                                            Morocco#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/irn.png" alt="">#}
{#                                                            IR Iran#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}

{#                                        <div class="col-lg-3 col-md-6">#}
{#                                           <h5><a href="group-list.html">GROUP C</a></h5>#}
{#                                            <div class="item-group">#}
{#                                                <ul>#}
{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/fra.png" alt="">#}
{#                                                            France#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/aus.png" alt="">#}
{#                                                            Australia#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/per.png" alt="">#}
{#                                                            Peru#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/den.png" alt="">#}
{#                                                            Denmark#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}

{#                                        <div class="col-lg-3 col-md-6">#}
{#                                           <h5><a href="group-list.html">GROUP D</a></h5>#}
{#                                            <div class="item-group">#}
{#                                                <ul>#}
{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/arg.png" alt="">#}
{#                                                            Argentina#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/isl.png" alt="">#}
{#                                                            Iceland#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/cro.png" alt="">#}
{#                                                            Croatia#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/nga.png" alt="">#}
{#                                                            Nigeria#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}

{#                                    <div class="row">#}
{#                                        <div class="col-lg-3 col-md-6">#}
{#                                           <h5><a href="group-list-html">GROUP E</a></h5>#}
{#                                            <div class="item-group">#}
{#                                                <ul>#}
{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/bra.png" alt="">#}
{#                                                            Brazil#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/sui.png" alt="">#}
{#                                                            Switzerland#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/costa-rica.png" alt="">#}
{#                                                            Costa rica#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/srb.png" alt="">#}
{#                                                            Serbia#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}

{#                                        <div class="col-lg-3 col-md-6">#}
{#                                           <h5><a href="group-list-html">GROUP F</a></h5>#}
{#                                            <div class="item-group">#}
{#                                                <ul>#}
{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/ger.png" alt="">#}
{#                                                            Germany#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/mex.png" alt="">#}
{#                                                            Mexico#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/swe.png" alt="">#}
{#                                                            Sweden#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/kor.png" alt="">#}
{#                                                            Korea Rep#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}

{#                                        <div class="col-lg-3 col-md-6">#}
{#                                           <h5><a href="group-list-html">GROUP G</a></h5>#}
{#                                            <div class="item-group">#}
{#                                                <ul>#}
{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/bel.png" alt="">#}
{#                                                            Belgium#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/pan.png" alt="">#}
{#                                                            Panama#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/tun.png" alt="">#}
{#                                                            Tunisia#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/eng.png" alt="">#}
{#                                                            England#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}

{#                                        <div class="col-lg-3 col-md-6">#}
{#                                           <h5><a href="group-list-html">GROUP H</a></h5>#}
{#                                            <div class="item-group">#}
{#                                                <ul>#}
{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/pol.png" alt="">#}
{#                                                            Poland#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/sen.png" alt="">#}
{#                                                            Senegal#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/colombia.png" alt="">#}
{#                                                            Colombia#}
{#                                                        </a>#}
{#                                                    </li>#}

{#                                                    <li>#}
{#                                                       <a href="single-team.html">#}
{#                                                            <img src="img/clubs-logos/japan.png" alt="">#}
{#                                                            Japan#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="tab-pane" id="description">#}
{#                               <div class="info-general">#}
{#                                    <div class="row">#}
{#                                       <div class="col-md-4">#}
{#                                          <img src="img/locations/1.jpg" alt="">#}
{#                                       </div>#}

{#                                       <div class="col-md-8">#}
{#                                           <h3>2018 FIFA World Cup</h3>#}
{#                                           <p class="lead">The 2018 FIFA World Cup will be the 21st FIFA World Cup, a quadrennial international football tournament contested by the men's national teams.  West of the Ural Mountains to keep travel time manageable.</p>#}
{#                                       </div>#}

{#                                       <div class="col-md-12">#}
{#                                           <p>It is scheduled to take place in Russia from 14 June to 15 July 2018,[2] after the country was awarded the hosting rights on 2 December 2010. This will be the first World Cup held in Europe since 2006; all but one of the stadium venues are in European Russia, west of the Ural Mountains to keep travel time manageable.</p>#}
{#                                           <h4>Gianni Infantino - Fifa President</h4>#}
{#                                       </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-12">
                        <div class="counter-home-wraper">
                            <div class="title-color text-center">
                                <h4>Ekstraklasa Jesień 2019</h4>
                            </div>
                            {% if nextMatch is not null %}
                                <div class="content-counter content-counter-home">
                                    <p class="text-center">
                                        <i class="fa fa-clock-o"></i>
                                        Do najblizszego meczu pozostało:
                                    </p>
                                    <div id="event-one" class="counter"></div>
                                    <ul class="post-options">
                                        <li><i class="fa fa-calendar"></i>{{ nextMatch.startDate|date('d/m/Y') }}</li>
                                        <li><i class="fa fa-clock-o"></i>Rozpoczęcie, {{ nextMatch.startDate|date('H:i') }}</li>
                                    </ul>
                                    <div class="list-groups">
                                        <div class="row align-items-center">
                                            <div class="col-md-12">
                                                <p>TZN Arena</p>
                                            </div>
                                            <div class="col-md-5">
                                                <img src="img/clubs-logos/rusia.png" alt="">
                                                <span>{{ nextMatch.homeTeam.name }}</span>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="vs">Vs</div>
                                            </div>
                                            <div class="col-md-5">
                                                <img src="img/clubs-logos/arabia.png" alt="">
                                                <span>{{ nextMatch.awayTeam.name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-primary" href="#">
                                        Zapraszamy!
                                        <i class="fa fa-trophy"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container padding-top">
            <div class="row">
                <div class="col-lg-10 col-xl-10">
                    <div class="panel-box">
                        <div class="titles">
                            <h4>Ostatnie newsy</h4>
                        </div>
                        {% for article in news %}
                            <div class="post-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="img-hover">
                                           <img src="{{ asset('build/img/blog/' ~ random(1,4) ~ '.jpg') }}" alt="" class="img-responsive">
                                           <div class="overlay"><a href="{{ path('app.admin.news.view', {'news': article.id}) }}">+</a></div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h4><a href="{{ path('app.admin.news.view', {'news': article.id}) }}">{{ article.title }}</a></h4>
                                        <span class="data-info">January 3, 2014  / <i class="fa fa-comments"></i><a href="#">0</a></span>
                                        {{ article.text|slice(0, 400)|raw }} ...
                                        <a class="teal-color" href="{{ path('app.admin.news.view', {'news': article.id}) }}">Czytaj więcej [+]</a>
                                    </div>
                               </div>
                            </div>
                        {% endfor %}
{#                        <div class="post-item">#}
{#                            <div class="row">#}
{#                                <div class="col-md-4">#}
{#                                    <div class="img-hover">#}
{#                                       <img src="{{ asset('build/img/blog/2.jpg') }}" alt="" class="img-responsive">#}
{#                                       <div class="overlay"><a href="single-news.html">+</a></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-8">#}
{#                                    <h5><a href="single-news.html">Russia 2018’s potential classic match-ups</a></h5>#}
{#                                    <span class="data-info">January 9, 2014  / <i class="fa fa-comments"></i><a href="#">5</a></span>#}
{#                                    <p>Our goal is very clear, it didn’t change after the draw. We should qualify for the knockout stage.<a href="single-news.html">Read More [+]</a></p>#}
{#                                </div>#}
{#                           </div>#}
{#                        </div>#}
{#                        <div class="post-item">#}
{#                            <div class="row">#}
{#                                <div class="col-md-4">#}
{#                                    <div class="img-hover">#}
{#                                       <img src="{{ asset('build/img/blog/3.jpg') }}" alt="" class="img-responsive">#}
{#                                       <div class="overlay"><a href="single-news.html">+</a></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-8">#}
{#                                    <h5><a href="single-news.html">World Cup rivalries reprised</a></h5>#}
{#                                    <span class="data-info">January  4, 2014  / <i class="fa fa-comments"></i><a href="#">3</a></span>#}
{#                                    <p>The outdoor exhibition on Manezhnaya Square comprises 11 figures that symbolise the main sites of interest.<a href="single-news.html">Read More [+]</a></p>#}
{#                                </div>#}
{#                           </div>#}
{#                        </div>#}
{#                        <div class="post-item">#}
{#                            <div class="row">#}
{#                                <div class="col-md-4">#}
{#                                    <div class="img-hover">#}
{#                                       <img src="img/blog/4.jpg" alt="" class="img-responsive">#}
{#                                       <div class="overlay"><a href="single-news.html">+</a></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-8">#}
{#                                    <h5><a href="single-news.html">All set for your trip to Russia?</a></h5>#}
{#                                    <span class="data-info">January 8, 2014  / <i class="fa fa-comments"></i><a href="#">2</a></span>#}
{#                                    <p>Colombia play Japan on 19 June at the Mordovia Arena, where the piling and casting operations.<a href="single-news.html">Read More [+]</a></p>#}
{#                                </div>#}
{#                           </div>#}
{#                        </div>#}
                    </div>
                </div>
                <aside class="col-sm-6 col-lg-3 col-xl-2">
                    <div class="panel-box">
                        <div class="titles">
                            <h4><i class="fa fa-calendar"></i>Terminarz</h4>
                        </div>
                        <ul class="list-diary">
                            {% for fixture in fixtures %}
                            <li>
                                <h6>Ekstraklasa <span>{{ fixture.startDate|date('d/m/Y H:i') }}</span></h6>
                                <ul class="club-logo">
                                    <li>
                                        <img src="img/clubs-logos/rusia.png" alt="">
                                        <span>{{ fixture.homeTeam.name }}</span>
                                    </li>
                                    <li>
                                        <img src="img/clubs-logos/arabia.png" alt="">
                                        <span>{{ fixture.awayTeam.name }}</span>
                                    </li>
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
{#                    <div class="panel-box">#}
{#                       <div class="titles no-margin">#}
{#                            <h4><i class="fa fa-link"></i>Cta</h4>#}
{#                        </div>#}
{#                        <a href="http://themeforest.net/user/iwthemes/portfolio?ref=iwthemes" target="_blank">#}
{#                            <img src="img/adds/sidebar.png" class="img-responsive" alt="">#}
{#                        </a>#}
{#                    </div>#}
                </aside>
            </div>
            <div class="row no-line-height">
                <div class="col-md-12">
                    <h3 class="clear-title">Sponsorzy</h3>
                </div>
            </div>
            <ul class="sponsors-carousel">
                <li><a href="#"><img src="{{ asset('build/img/sponsors/1.png') }}" alt=""></a></li>
                <li><a href="#"><img src="{{ asset('build/img/sponsors/2.png') }}" alt=""></a></li>
                <li><a href="#"><img src="{{ asset('build/img/sponsors/3.png') }}" alt=""></a></li>
                <li><a href="#"><img src="{{ asset('build/img/sponsors/4.png') }}" alt=""></a></li>
                <li><a href="#"><img src="{{ asset('build/img/sponsors/5.png') }}" alt=""></a></li>
                <li><a href="#"><img src="{{ asset('build/img/sponsors/6.png') }}" alt=""></a></li>
            </ul>
        </div>
    </section>

{#    <div class="instagram-btn">#}
{#        <div class="btn-instagram">#}
{#            <i class="fa fa-instagram"></i>#}
{#            FOLLOW#}
{#            <a href="https://www.instagram.com/fifaworldcup/" target="_blank">&#64;fifaworldcup</a>#}
{#        </div>#}
{#    </div>#}
{#    <div class="content-instagram">#}
{#        <div id="instafeed"></div>#}
{#    </div>#}
{% endblock %}
