{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-info">
        <div class="container padding-top">
            <div class="row">
                <div class="col-lg-12">
                    <div class="recent-results results-page">
                        <div class="info-results">
                            <ul>
                                {% for result in results %}
                                    <li>
                                        <span class="head">
                                          {{ result.homeTeam.name }} vs. {{ result.awayTeam.name }}  <span class="date">{{ result.startDate|date('d/m/Y H:i') }}</span>
                                        </span>

                                        <div class="goals-result">
                                            <a href="single-team.html">
                                                <img src="img/clubs-logos/por.png" alt="">
                                                {{ result.homeTeam.name }}
                                            </a>

                                            <span class="goals">
                                                <b>{{ result.matchDetails.homeTeamGoals }}</b> - <b>{{ result.matchDetails.awayTeamGoals }}</b>
                                                <a href="{{ path('app.single_result', {'match': result.id}) }}" class="btn theme">View More</a>
                                            </span>

                                            <a href="single-team.html">
                                                <img src="img/clubs-logos/esp.png" alt="">
                                                {{ result.awayTeam.name }}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
