{% extends 'base.html.twig' %}
{% block body %}
    <div class="section-title single-result" style="background:url({{ asset('build/img/locations/3.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="result-location">
                        <ul>
                            <li>
                                {{ match.startDate|date('d/m/Y H:i') }}
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                TZN Arena
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    <div class="team">
                        <img src="{{ match.homeTeam.crest.name ? asset('images/team/crest/' ~ match.homeTeam.crest.name) : asset('build/img/clubs-logos/pol.png')  }}" alt="club-logo">
                        <a href="{{ path('app.team.view', {'team': match.homeTeam.id}) }}">{{ match.homeTeam.name }}</a>
                        <ul>
                            {% for goal in match.matchDetails.goals %}
                                {% if goal.scorer in match.homeTeam.players %}
                                    <li>
                                    {% if goal.assistant is not null %}
                                        <small>{{ goal.assistant.name }}</small> <i class="fa fa-user-plus" aria-hidden="true"></i>
                                    {% endif %}
                                        {{ goal.scorer.name }} {{ goal.minute }}' <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                    </li>

                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2">
                    <div class="result-match">
                        {{ match.matchDetails.homeTeamGoals }} : {{ match.matchDetails.awayTeamGoals }}
                    </div>
                    <br>
                    {% if match.matchDetails.mvp is not null %}
                        <div class="text-center text-white">
                            <strong>{{ match.matchDetails.mvp.player.name }}</strong> <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-5 col-lg-5">
                    <div class="team right">
                        <a href="{{ path('app.team.view', {'team': match.awayTeam.id}) }}">{{ match.awayTeam.name }}</a>
                        <img src="{{ match.awayTeam.crest.name ? asset('images/team/crest/' ~ match.awayTeam.crest.name) : asset('build/img/clubs-logos/pol.png')  }}" alt="club-logo">
                        <ul>
                            {% for goal in match.matchDetails.goals|sort %}
                                {% if goal.scorer in match.awayTeam.players %}
                                    <li><i class="fa fa-futbol-o" aria-hidden="true"></i> {{ goal.scorer.name }} {{ goal.minute }}'
                                        {% if goal.assistant is not null %}
                                            <i class="fa fa-user-plus" aria-hidden="true"></i> <small>{{ goal.assistant.name }}</small>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="timeline-result">#}
{#                        <div class="team-timeline">#}
{#                            <img src="img/clubs-logos/colombia.png" alt="club-logo">#}
{#                            <a href="single-team.html">Col</a>#}
{#                        </div>#}
{#                        <ul class="timeline">#}
{#                          <li class="card-result bottom goal" style="left:10%" data-placement="top" data-trigger="hover" data-toggle="popover" title="Goal" data-content="10. James Rodriguez">#}
{#                               10'#}
{#                           </li>#}

{#                           <li class="card-result top change" style="left:20%" data-placement="bottom" data-trigger="hover" data-toggle="popover" title="Player Change" data-content="10. James Rodriguez for 9. Falcao Garcia">#}
{#                               20'#}
{#                           </li>#}

{#                           <li class="card-result top red" style="left:31%" data-placement="bottom" data-trigger="hover" data-toggle="popover" title="Yellow card" data-content="10. James Rodriguez">#}
{#                               31'#}
{#                           </li>#}

{#                           <li class="card-result top goal" style="left:40%" data-placement="bottom" data-trigger="hover" data-toggle="popover" title="Goal" data-content="10. James Rodriguez">#}
{#                               40'#}
{#                           </li>#}

{#                           <li class="card-result top yellow" style="left:65%"  data-placement="bottom" data-trigger="hover" data-toggle="popover" title="Yellow card" data-content="10. James Rodriguez">#}
{#                                65'#}
{#                            </li>#}

{#                            <li class="card-result bottom yellow" style="left:50%" data-placement="top" data-trigger="hover" data-toggle="popover" title="Yellow card" data-content="10. James Rodriguez">#}
{#                                50'#}
{#                            </li>#}

{#                            <li class="card-result top red" style="left:65%" data-placement="bottom" data-trigger="hover" data-toggle="popover" title="Yellow card" data-content="10. James Rodriguez">#}
{#                                65'#}
{#                            </li>#}

{#                            <li class="card-result bottom yellow" style="left:80%" data-placement="top" data-trigger="hover" data-toggle="popover" title="Yellow card" data-content="10. James Rodriguez">#}
{#                                80'#}
{#                            </li>#}

{#                            <li class="card-result top goal" style="left:90%" data-placement="bottom" data-trigger="hover" data-toggle="popover" title="Goal" data-content="10. James Rodriguez">#}
{#                               90'#}
{#                           </li>#}
{#                        </ul>#}
{#                        <div class="team-timeline">#}
{#                            <img src="img/clubs-logos/arg.png" alt="club-logo">#}
{#                            <a href="single-team.html">Arg</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
    </div>
    <section class="content-info">
        <div class="single-team-tabs">
           <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <ul class="nav nav-tabs" id="myTab">
                           <li class="active"><a href="#summary" data-toggle="tab">Podsumowanie</a></li>
{#                           <li><a href="#stats" data-toggle="tab">Mach Stats</a></li>#}
                        </ul>
                    </div>

                    <div class="col-lg-12">
                        <div class="tab-content">
                            <div class="tab-pane active" id="summary">
                                <div class="panel-box padding-b">
                                  <div class="titles">
                                      <h4>Podsumowanie meczu</h4>
                                  </div>
                                    <div class="row">
                                       <div class="col-lg-12 col-xl-4">
                                           <img src="{{ asset('build/img/locations/1.jpg') }}" alt="">
                                       </div>

                                       <div class="col-lg-12 col-xl-8">
                                           <p>
                                               {{ match.description ?? 'Brak opisu meczu' }}
                                           </p>
                                       </div>
                                   </div>
                               </div>
                                {% include 'sponsors.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
