{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-info">
        <div class="container paddings-mini">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table-striped table-hover result-point">
                        <thead class="point-table-head">
                        <tr>
                            <th class="text-left">#</th>
                            <th class="text-left">Drużyna</th>
                            <th class="text-center">M</th>
                            <th class="text-center">Z</th>
                            <th class="text-center">ZPK</th>
                            <th class="text-center">PPK</th>
                            <th class="text-center">P</th>
                            <th class="text-center">GZ</th>
                            <th class="text-center">GS</th>
                            <th class="text-center">+/-</th>
                            <th class="text-center">PKT</th>
                        </tr>
                        </thead>

                        <tbody class="text-center">
                            {% for team in teams %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td><img src="img/clubs-logos/colombia.png" alt="Colombia"> {{ team.name }}</td>
                                    <td>{{ team.played }}</td>
                                    <td>{{ team.wins }}</td>
                                    <td>{{ team.winsAfterPenalties }}</td>
                                    <td>{{ team.losesAfterPenalties }}</td>
                                    <td>{{ team.loses }}</td>
                                    <td>{{ team.goalsScored }}</td>
                                    <td>{{ team.goalsConceded }}</td>
                                    <td>{{ team.goals_diff }}</td>
                                    <td>{{ team.points }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="section-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Enter your e-mail and <span class="text-resalt">subscribe</span> to our newsletter.</h2>
                            <p>Duis non lorem porta,  eros sit amet, tempor sem. Donec nunc arcu, semper a tempus et, consequat.</p>
                        </div>
                        <form id="newsletterForm" action="php/mailchip/newsletter-subscribe.php">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                        <input class="form-control" placeholder="Your Name" name="name"  type="text" required="required">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                        <input class="form-control" placeholder="Your  Email" name="email"  type="email" required="required">
                                        <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe" >SIGN UP</button>
                                                 </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div id="result-newsletter"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
