{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-info mb-5">
        <div class="container paddings-mini">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table-striped table-hover result-point">
                        <thead class="point-table-head teal-color-background">
                        <tr>
                            <th class="text-left">#</th>
                            <th class="text-left">Drużyna</th>
                            <th class="text-center">M</th>
                            <th class="text-center">Z</th>
                            <th class="text-center">P</th>
                            <th class="text-center">GZ</th>
                            <th class="text-center">GS</th>
                            <th class="text-center">+/-</th>
                            <th class="text-center">PKT</th>
                        </tr>
                        </thead>

                        <tbody class="text-center">
                            {% for team in teams %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td><img src="{{ team.team.crest.name ? asset('images/team/crest/' ~ team.team.crest.name) : asset('build/img/clubs-logos/pol.png') }}"> {{ team.name }}</td>
                                    <td>{{ team.played }}</td>
                                    <td>{{ team.wins }}</td>
                                    <td>{{ team.loses }}</td>
                                    <td>{{ team.goalsScored }}</td>
                                    <td>{{ team.goalsConceded }}</td>
                                    <td>{{ team.goals_diff }}</td>
                                    <td><strong>{{ team.points }}</strong></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
