{#<div class="row">#}
<div class="col-sm-12">
    {{ form_start(form, {'attr': {'data-edit-player': path('app.player.edit', {'player': form.vars.data.id ?? 0}) }}) }}
    <div class="card-header border-bottom text-center">
        <div class="form-group col-md-12 mt-3 d-flex flex-column align-items-center player-photo">
            {{ form_label(form.photoFile) }}
            {{ form_widget(form.photoFile) }}
            {{ form_errors(form.photoFile)}}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-3">
            <div class="row">
                <div class="col player-form">
                    <div class="form-row">
                        <div class="form-group col-md-6 player-name">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name)}}
                        </div>
                        <div class="form-group col-md-6 player-team">
                            {{ form_label(form.team) }}
                            {{ form_widget(form.team) }}
                            {{ form_errors(form.team)}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_widget(form.position) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_widget(form.number) }}
                        </div>
                    </div>
                    <div class="form-row d-flex justify-content-center">
                        <div class="form-group col-md-6">
                            {{ form_widget(form.dateOfBirth) }}
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <br>
    <a class="btn btn-sm btn-outline-secondary" href="{{ path('app.admin.player.list') }}">
        <i class="material-icons">save</i> Wróć
    </a>
    <button class="btn btn-sm btn-info" type="submit">
        <i class="material-icons">file_copy</i> Zapisz
    </button>
    {{ form_rest(form) }}
</div>
{#</div>#}
{% block javascripts %}
    {{ encore_entry_script_tags('player_datepicker') }}
{% endblock %}
