<div class="row">
    <div class="col-sm-12">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom text-center">
                <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-info mr-2">
                    <i class="material-icons mr-1">person_add</i>Dodaj zdjęcie</button>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <div class="row">
                        <div class="col">
                            {{ form_start(form, {'attr': {'data-edit-player': path('app.player.edit', {'player': form.vars.data.id ?? 0}) }}) }}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_label(form.team) }}
                                        {{ form_widget(form.team) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ form_widget(form.position) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_widget(form.number) }}

                                    </div>
                                </div>
                                <div class="form-row d-flex justify-content-center">
                                    <div class="form-group col-md-6">
                                        {{ form_widget(form.dateOfBirth) }}
                                    </div>
                                </div>
                            {{ form_rest(form) }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('player_datepicker') }}
{% endblock %}
