<div id="mobile-nav">
    <ul>
        <li>
            <a href="{{ path('app.homepage') }}">Strona główna</a>
        </li>

        <li>
            <a href="{{ path('app.teams.extraclass')}}">Drużyny</a>
        </li>

        <li>
            <a href="{{ path('app.fixtures.extraclass')}}">Terminarz</a>
        </li>

        <li>
            <a href={{ path('app.results.extraclass') }}>Wyniki</a>
        </li>

        <li>
            <a href="{{ path('app.table.extraclass')}}">Tabela</a>
        </li>

        <li>
            <a href="{{ path('app.statistics.extraclass')}}">Statystyki</a>
        </li>

        <li>
            <a href="{{ path('app_login') }}" class="login-button">Zaloguj się</a>
        </li>
    </ul>
</div>
