<div id="mobile-nav">
    <ul>
        <li class="current">
            <a href="{{ path('app.homepage') }}"><img src="{{ asset('build/img/czliga_logo.png')}}" alt="league-logo" style="width: 75px; height: 24px; padding: 0"></a>
            {#                <a href="{{ path('app.homepage') }}">Strona główna</a>#}
        </li>
        {%  for league in leagues %}
            <li class="current">
                <a href="#"><i class="fa fa-trophy" aria-hidden="true"></i> {{ league.name }}</a>
                <ul class="sub-current ">
                    <li><a href="{{ path('app.table', {'league': league.id}) }}">Tabela</a></li>
                    <li><a href="{{ path('app.fixtures', {'league': league.id}) }}">Terminarz</a></li>
                    <li><a href="{{ path('app.teams', {'league': league.id}) }}">Drużyny</a></li>
                    <li><a href="{{ path('app.results', {'league': league.id}) }}">Wyniki</a></li>
                    <li><a href="{{ path('app.statistics', {'league': league.id}) }}">Statystyki</a></li>
                </ul>
            </li>
        {% endfor %}
        <li class="current">
            <a href="{{ path('app_login') }}" class="login-button">Zaloguj się</a>
        </li>
    </ul>
</div>
