<div class="ui top attached demo menu inverted mobile-menu">
    <a class="item hamburger">
        <i class="sidebar icon"></i>
        Menu
    </a>
    <div class="right menu">
        <a class="ui item" href="{{ path('app_logout') }}">
            {{ 'menu.logout'|trans }}
        </a>
    </div>
</div>
<div class="ui bottom attached segment pushable">
    <div class="ui inverted labeled icon left inline vertical sidebar menu">
        <div class="item">
            <i class="futbol icon"></i>
            {{ 'menu.matches'|trans }}
            <div class="menu">
                <a class="item">Kalendarz</a>
                <a class="item">Dodaj mecz</a>
                <a class="item">Edytuj mecz</a>
            </div>
        </div>
        <div class="item">
            <i class="users icon"></i>
            {{ 'menu.teams'|trans }}
            <div class="menu">
                <a class="item">Lista drużyn</a>
                <a class="item">Dodaj drużynę</a>
                <a class="item">Edytuj drużynę</a>
            </div>
        </div>
        <div class="item">
            <i class="user icon"></i>
            {{ 'menu.players'|trans }}
            <div class="menu">
                <a class="item">Lista zawodników</a>
                <a class="item">Dodaj zawodnika</a>
                <a class="item">Edytuj drużynę</a>
            </div>
        </div>
    </div>
</div>
